@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the empty text layer container */
.react-pdf__Page__textContent {
  display: none !important;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f5f5f5;
}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Nunito", sans-serif;
} */

@keyframes loading_spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg); /* Smooth 360-degree rotation */
  }
}

.loading_logo {
  animation: loading_spin 3s linear infinite; /* Shorter duration for more dynamic spin */
  transform-style: preserve-3d; /* Maintain 3D transformation effect */
  perspective: 1000px; /* Add depth */
  display: inline-block; /* Adjusts better with inline elements */
}

/* Optional: Add a shadow for depth */
.loading_logo img {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}
